{{ define "main" }}

<div id="feature">
  <div id="featureContent" class="box_round box_first">
    <ul class="lightSliderItems">
      {{ range .Site.Pages }}
        {{ with .Resources.GetMatch "feature.jpg" }}
        {{- $image := .Fill "930x340" -}}
        <li style="background: url({{  $image.RelPermalink }});">
          <p>{{  $image.Title }}</p>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>


<div id="welcomeBox" class="boxGradient normal box_round">
  {{ .Content }}
</div>
<div style="clear:both;height:20px;"></div>


<div id="content" class="boxGradient box_round">
{{ with .Site.GetPage "/products" }}
  {{ partial "product_list.html" . }}
{{ end }}
</div>
<div style="clear:both; padding:0; margin:0;"></div>

<script>
    $(document).ready(function() {
      $("#featureContent .lightSliderItems").lightSlider({item: 1, auto: true, loop: true});
    });
</script>
{{ end }}


{{ define "template" }}
  {{ partial "template.html" (dict "Context" . "Template" "layouts/index.html") }}
{{ end }}
