<div id="footer">
  <div id="footerContainer">
    <div id="footerContainterImg">
      <img style="display:inline;" alt="card" src="{{ `/images/card.png` | relURL }}"/>
    </div>
    <div id="footerContainerMain">
      <div style="float: left;padding-top:162px">
        <div style="clear: both; padding-top: 10px;"></div>
        <div style="padding: 6px 0pt 0pt 5px; float: right;" class="sH"><a href="http://www.smirlwebs.com/">web<br>design</a></div>
        <div style="float: right;" class="lH"><a href="http://www.smirlwebs.com/">Smirlwebs</a></div>
        <div style="clear: both; padding-top: 10px;"></div>
      </div>
      <div style="width:299px;float:left;text-align:right;padding-top:30px;color:#000000;font-size:17px">
        info@furniturereplicatons.com<br><br>
        141 Whitehouse Common Road<br>
        Sutton Coldfield<br>
        West Midlands<br>
        B75 6DT<br><br>
        +44 7973 114689
      </div>
    </div>
    <div style="width:450px;height:25px;position:absolute;bottom:-35px;right:0;font-size:11px;color:#000000;">Website design by Smirlwebs. All Right Reserved Furniture Replications 2011</div>
  </div>
</div>

{{ template "_internal/google_analytics.html" . }}
